# Ficheiros e pastas de ambiente Python
__pycache__/
*.pyc
.env
venv/
env/

# Ficheiros gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Pasta de API gerada (IMPORTANTE)
# A branch 'main' deve conter apenas o código-fonte, não o resultado do build.
/docs/
